.logo-size img{
    width: 198.07px;
    height: 59px; 
}
.green-btn{
    background-color: #21B573;
    color: #FFF;
    border: none;
    border-radius: 25px;
    padding: 9px 25px;
    cursor: pointer;
}
.alignment{
    margin-left: 30px;
    font-weight: 900px;
}
.container{
    margin-bottom: 100px;
}
.text-style h1,h6,p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
.text-style h6{
    color: #FD511A;
}
.text-style h1{
    font-weight: bolder;
    font-size: 48px;
}
.text-green{
    color: #21B573;
}
.card1 img{
    width: 66px;
    height: 85px;
}
.card2 img{
    width: 80px;
    height: 83px;
}
.card3 img{
    width: 75px;
    height: 80px;
}
.card4 img{
    width: 68px;
    height: 76px;
}
.card{
    border: none;
    box-shadow: 5px 5px 40px lightgray;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card-footer img{
    width: 24px;
    height: 24px;
    left: 154px;
    top: 1530px;
}
.touch{
    margin: 15px 15px;
}
footer{
    color: white;
    height: 400px;
    background-color: #282531;
}
.margin{
    margin-top: 70px;
}
.last{
    text-align: center;
}